html {
    height: 100%;
    width: 100%;
  }
  body{
    background-color: grey;
  }
  #wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  #label{
    display: block;
    width: auto;
    margin: 10px auto;
    font-size: 35px;
    font-style:inherit;
  }
  #guessfield{  
    display: block;
    width: auto;
    margin: 0px auto;
    border-radius: 5px;
  }
  #subt{
    display: block;
  width:auto;
   margin: 20px auto;
    font-size: 20px;
    border-radius: 5px;
  
  }